.navbar {
  background-image: linear-gradient(to right, #9ed3ff, #7575ff);
  padding: 0;
}

a { 
  color: rgb(255, 255, 255);
  background-color: transparent;
  background-image: linear-gradient(
    to left,
    rgb(0, 92, 241),
    rgb(45, 0, 167)
  );
  border-radius: 10%;
  text-decoration: none;
  font-weight:bold 
}
a:hover{
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    to right,
    rgb(0, 92, 241),
    rgb(45, 0, 167)
  );

}




.brandName{

}
.brandNamePick{
  background: radial-gradient(circle, rgba(255,0,112,1) 0%, rgba(0,117,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.cont {
  background: rgb(54, 93, 170);
}