<div class="topnav">
  <div class="login-container">
    <form action="/action_page.php">
      <button type="submit">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          fill="currentColor"
          class="bi bi-person-circle"
          viewBox="0 0 16 16"
        >
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path
            fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
          />
        </svg>
        {{ finalCurrentUser?.username | uppercase }}
      </button>
    </form>
  </div>
</div>
<br><br><br>
<div class="d-flex justify-content-between">
  <div class="container">
    <div class="card d-flex justify-content-between" style="width: 18rem">
      <svg xmlns="http://www.w3.org/2000/svg" width="160"  fill="currentColor" class="bi bi-person-badge card-img-top" viewBox="0 0 16 16">
        <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z"/>
      </svg>
      <div class="card-body">
        <h3 class="card-title"> ID : {{ finalCurrentUser?.id }}</h3>
        <h5 class="card-text">
         Username : {{ finalCurrentUser?.username}}
        </h5>
        <h5 class="card-title"> Name : {{ finalCurrentUser?.firstname | uppercase }}   {{ finalCurrentUser?.lastname | uppercase }}</h5>
        <h5 class="card-text">
         Email : {{ finalCurrentUser?.email}}
        </h5>
        <h6 class="card-text">
          Ph No : {{ finalCurrentUser?.mobile}}
         </h6>
       
      </div>
    </div>
  </div>
</div>
