<br>

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 ">

    <div class="col">
      <div class="card">
        <img src="https://www.jagranimages.com/images/newimg/06042023/06_04_2023-rcb_vs_kkr_live_score_0_17169847.jpg" width="100%" class=" img-fluid" alt="...">
        
        <div class="card-body">
          <h5 class="card-title">RCB vs KKr</h5>
          <p class="card-text">02-APR  7:30pm</p>
        </div>
      </div>
    </div>
    <br> <br>
    
    <div class="col">
      <div class="card h-100">
        <img src="https://imgeng.jagran.com/images/2023/mar/GTvCSK1680268682446.jpeg" width="100%" class=" img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">GT vs CSK</h5>
          <p class="card-text">05-APR  7:30pm</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://www.jagranimages.com/images/newimg/12052023/12_05_2023-mi_vs_gt_live_score_0_18563728.webp" width="100%" class=" img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mi vs GT</h5>
          <p class="card-text">08-APR  7:30pm</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://www.jagranimages.com/images/newimg/20042023/20_04_2023-pb_vs_rcb_23390574_17757496.jpg" width="100%" class=" img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">PKBS vs RCB</h5>
          <p class="card-text">012-APR  7:30pm</p>
        </div>
      </div>
    </div>
  </div>